@model Fiap.Exemplo02.Web.MVC.Models.Pet

<tr>
    <td>@Model.Nome</td>
    <td>@Model.DataNascimento.ToShortDateString()</td>
    <td>@Model.Castrado</td>
    <td>@Model.Descricao</td>
    <td>@Model.Especie</td>
</tr>
