@model Fiap.Exemplo02.Web.MVC.Models.Pet
@{
    ViewBag.Title = "Cadastro";
}

<h2>Cadastro de Pet</h2>

@Ajuda.Message(TempData["msg"] as string, "success")

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(p => p.Especie)
        @Html.DropDownListFor( p => p.Especie, ViewBag.opcoes as SelectList, 
                                                    new { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Nome)
        @Html.TextBoxFor(pet => pet.Nome,
                        new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.DataNascimento)
        @Html.TextBoxFor(p => p.DataNascimento,
                        new { @class = "form-control" })
    </div>
   
    <div class="form-group">
        @Html.LabelFor(p => p.Descricao)
        @Html.TextAreaFor(p => p.Descricao,
                        new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.CheckBoxFor(p => p.Castrado)
        @Html.LabelFor(p => p.Castrado)
    </div>

   /* <input type="submit" value="Cadastrar" class="btn btn-primary" /> */
   
    @Ajuda.Submit("Cadastrar")

    @section BlocoScript{
        <script></script>
        <p>Aqui vai o JS....</p>
        }
   
}