@model Fiap.Exemplo02.Web.MVC.Models.Usuario
@{
    ViewBag.Title = "Sucesso";
}

<h2>Sucesso</h2>

<h3>@TempData["msg"]</h3>

<h4>@ViewBag.mensagem</h4>

<h3>@Model.Nome, @Model.Idade anos.</h3>
<h4>@Model.Email</h4>


