@model Fiap.Exemplo01.Web.MVC.Models.Funcionario

@{
    ViewBag.Title = "Gravar";
}

<h2>Dados Enviados</h2>
<h3>@ViewBag.nome</h3>
<h3>@ViewBag.dataNasc</h3>
<h3>@ViewBag.sal</h3>

<h2>Dados Enviados 2</h2>
<h3>@Model.Nome</h3>
<h3>@Model.Data</h3>
<h3>@Model.Salario</h3>


