@model Fiap.Exemplo2.Web.MVC.Models.Usuario

@{ 
    ViewBag.Title = "Sucesso";
}

<h2>Sucesso</h2>

<h3> @TempData["msg"]</h3>

<h4>@ViewBag.mensagem</h4>

<h3>@Model.nome</h3>
<h3>@Model.idade anos</h3>
<h3>@Model.email</h3>