@model Fiap.Exemplo03.Web.MVC.Models.Aposta
@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(a => a.Valor)
        @Html.TextBoxFor(a => a.Valor, new { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.DataAposta)
        @Html.TextBoxFor(a => a.DataAposta, new { @class = "form-control" })
    </div>
    <div class="form-group">        
        @Html.CheckBoxFor(a => a.Dobadinha)
        @Html.LabelFor(a => a.Dobadinha)
    </div>

    <input type="submit" value="Cadastrar" class="btn btn-primary" />
}